<div class="container"><div>
  <app-navbar></app-navbar>
</div>
<table class="table" style="overflow-x: auto;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">assigned_to</th>
      <th scope="col">status</th>
      <th scope="col">dueDate</th>
      <th scope="col">priority</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasksObject">
      <td><button type="checkbox"></button></td>
      <th scope="row">{{task.task_assigned_to}}</th>
      <td>{{task.task_status}}</td>
      <td>{{task.task_dueDate}}</td>
      <td>{{task.task_priority}}</td>
      <td>{{task.task_desc}}</td>
       <td><button type="submit" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editTaskModal(task.id)">Edit</button></td>
      <!-- <td><button type="submit" class="btn btn-primary mb-2" [routerLink]="['/edit']">Edit</button></td> -->
    <td><button type="submit" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="deleteTaskModal(task.id)">Delete</button></td>
    </tr>
    </tbody>
</table>
</div>

     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Task</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3">
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Assigned To</label>
                <input type="text" class="form-control" id="assigned_to" name="assigned_to"[(ngModel)]="task.task_assigned_to">
              </div>
              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Status</label>
                <input type="text" class="form-control" id="status" name="status" [(ngModel)]="task.task_status">
              </div>
              <div class="col-md-6">
                <label for="inputAddress2" class="form-label">Due Date</label>
                <input type="date" class="form-control" id="due_date" name="due_date" [(ngModel)]="task.task_dueDate">
              </div>
              <div class="col-md-6">
                  <label for="inputCity" class="form-label">Priority</label>
                  <input type="text" class="form-control" id="priority" name="priority" [(ngModel)]="task.task_priority">
                </div>
              <div class="col-md-12">
                <label for="inputCity" class="form-label">Description</label>
                <input type="textarea" class="form-control" id="desc" name="desc" [(ngModel)]="task.task_desc">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="editTask()">Save</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you want to delete this task - Do it {{task.task_assigned_to}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteTask()">Yes</button>
          </div>
        </div>
      </div>
    </div>
    
    <router-outlet></router-outlet>
