<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav navbar-collapse justify-content-end">
            <li class="nav-item">
                <button type="submit" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#newTaskModal">New Task</button>
                <!--<a class="nav-link" [routerLink]="['/login']">New Task</a>-->
              </li>
              <li class="nav-item">
                <button type="submit" class="btn btn-warning mb-2" (click)="getAllTaskForRefresh()">Refresh</button>
              </li>
              </ul>    
          </div>
          
    </div>
    <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
  </nav>
  
  <div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Assigned To</label>
            <input type="text" class="form-control" id="assigned_to" name="assigned_to"[(ngModel)]="task.task_assigned_to">
          </div>
          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Status</label>
            <input type="text" class="form-control" id="status" name="status" [(ngModel)]="task.task_status">
          </div>
          <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Due Date</label>
            <input type="date" class="form-control" id="due_date" name="due_date" [(ngModel)]="task.task_dueDate">
          </div>
          <div class="col-md-6">
              <label for="inputCity" class="form-label">Priority</label>
              <input type="text" class="form-control" id="priority" name="priority" [(ngModel)]="task.task_priority">
            </div>
          <div class="col-md-12">
            <label for="inputCity" class="form-label">Description</label>
            <input type="textarea" class="form-control" id="desc" name="desc" [(ngModel)]="task.task_desc">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="createTask()">Save</button>
        <button type="button" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </div>
</div>
